<!DOCTYPE html>
<html>
<head>
  <title>Call Your Rep!</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <div id="state">State: {{reps[0]['state']}}</div>
  
  <div id="controls">
    {% for rep in reps %}
    <div class="type">{{rep['type']}} </div>
    <div class="name">{{rep['name']}} </div>
    <div class="party">{{rep['party']}} </div>
    <img style="height:275px;width:225px;" src="https://theunitedstates.io/images/congress/225x275/{{rep['bioguide_id']}}.jpg"></img>
    <div id="call-controls">
      <a class="phone" href="tel:{{rep['phone']}}">{{rep['phone']}}</a>
      <input id="input-phone" type="text" placeholder="Enter a phone # or client name" />
      <button id="button-call">Call</button>
      <button id="button-hangup">Hangup</button>
    </div>
    <br>
    {% endfor %}
        <div id="info">
      <p class="instructions">Client</p>
      <div id="client-name"></div>
    </div>
    <div id="log"></div>
  </div>

  <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>